.mojDiv {
    background-color: #ff9100;
    width: 200px;
    height: 150px;
    padding: 20px 250px 30px 50px;
    margin: 20px;
    border: 5px solid black;
    border-width: 5px;
    border-style: double;
    border-color: black;
    display: block;
    border-radius: 20px;
}