.card {
    width: 460px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 10px;   
    display: inline-block;
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card_body  {
    padding: 25px;
}

.card .card_body .card_subtitle {
    text-transform: uppercase;
    margin: 0;
}

.card .card_body .card_link {
    color #777af3;
    font-size: 20px;
}